<div class="remainder-container" [ngClass]="{'dark-mode':isDark, 'light-mode':!isDark, 'container-opened':isOpened, 'container-closed': !isOpened }">

    <!-- Add new remainder box -->
    <div class="searchbox" *ngIf="!ShowAddRemainder">
        <input type="text" name="insert-remainder-box" placeholder="Set a Remainder..." (click)="addRemainderContainer()">
    </div>

    <!-- Add new remainder bootstrap modal  -->
    <div class="modal fade show" id="insertionModal" tabindex="-1" aria-labelledby="insertionModalLabel"
        aria-hidden="true" #insertionModal>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" [ngClass]="{'dark-mode':isDark, 'light-mode':!isDark }" (focusout)="onBlur()">

                <div class="modal-header">
                    <input [ngClass]="{'dark-mode':isDark, 'light-mode':!isDark }" type="text" class="modal-title fs-5"
                        id="insertionModalInput" placeholder="Title:" #insertionModalInput>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="onBlur()" #Crossbtn></button>
                </div>

                <div class="modal-body">
                    <textarea [ngClass]="{'dark-mode':isDark, 'light-mode':!isDark }" name="insertText"
                        id="insertionText" placeholder="Set a Remainder..." cols="60" rows="5" #insertionText></textarea>
                </div>

            </div>
        </div>
    </div>

    <!-- Remainder box -->
    <div class="remainder-boxes" #remainderBoxes>
        <div class="boxes" data-bs-toggle="modal" data-bs-target="#updationModal" (click)="open(i); selectBox(i._id)" *ngFor="let i of remainder; let j=index" #boxes  [style.background-color]="remainder[j].boxColor">
            <p>Title: {{i.title}}</p>

            <p>Text: </p>
            <div class="span-text">
                <span class="texts-content" *ngFor="let text of i.text">{{ text }} <br> </span>
            </div>
        </div>
    </div>

    <!-- Color changing bootstrap modal -->
    <div class="modal show" tabindex="-1" role="dialog" id="colorPickerModal" #colorPickerModal
        >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modal-colorpicker" [ngClass]="{'dark-mode':isDark, 'light-mode':!isDark }">
                <div class="modal-body" id="body-colorpickers">
                    <div class="colorpickers">
                        <div class="color" id="black" style="background-color: inherit;" tabindex="0" (click)="selectColor('inherit')"><fa-icon [icon]="faNoColor"></fa-icon></div>
                        <div class="color" id="red" style="background-color: red;" (click)="selectColor('red')"></div>
                        <div class="color" id="green" style="background-color: green;" (click)="selectColor('green')"></div>
                        <div class="color" id="blue" style="background-color: purple;" (click)="selectColor('purple')"></div>
                        <div class="color" id="yellow" style="background-color: violet;" (click)="selectColor('violet')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Update Remainder data bootstrap modal -->
    <div class="modal fade show" id="updationModal" tabindex="-1" aria-labelledby="updationModalLabel"
        aria-hidden="true" #updationModal>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" [ngClass]="{'dark-mode':isDark, 'light-mode':!isDark }" #updationModalContent 
            *ngIf="showRemainder"
            [style.background-color]="showRemainder.boxColor"
            [ngStyle]="{'background-color': (showRemainder.boxColor === 'inherit' && isDark) ? 'black' : (showRemainder.boxColor === 'inherit' && !isDark) ? 'white' : showRemainder.boxColor}">
                <div class="modal-header" *ngIf="showRemainder">
                    <label class="modal-title fs-5">Title:&nbsp;</label>
                    <input [ngClass]="{'dark-mode':isDark, 'light-mode':!isDark }" 
                    [ngStyle]="{'background-color': (showRemainder.boxColor === 'inherit' && isDark) ? 'black' : (showRemainder.boxColor === 'inherit' && !isDark) ? 'white' : showRemainder.boxColor}"
                    [style.background-color]="showRemainder.boxColor" type="text" class="modal-title fs-5" id="updationModalInput" value="{{ showRemainder.title}}" #uTitle  >

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()" #Crossbtn></button>
                </div>
                <div class="modal-body" *ngIf="showRemainder">
                    <textarea  
                    [ngStyle]="{'background-color': (showRemainder.boxColor === 'inherit' && isDark) ? 'black' : (showRemainder.boxColor === 'inherit' && !isDark) ? 'white' : showRemainder.boxColor}"
                    [style.background-color]="showRemainder.boxColor" 
                    [ngClass]="{'dark-mode':isDark, 'light-mode':!isDark }" name="updateText" id="updateText"cols="60" rows="10" #uText>{{ showRemainder.text.join('\n') }}</textarea>
                </div>
                <div class="modal-footer">
                    <div class="operation-btns">
                        <button (click)="deleteRemainder(showRemainder._id, $event)"><fa-icon [icon]="faDelete"></fa-icon></button>
                        <button (click)="changeColor($event)" #colorButton><fa-icon [icon]="faColor"></fa-icon></button>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="close()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="updateRemainderFromAngular()">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>

</div>